<nav class="mynavbar">
  <div class="navbar-top">
    <h6>
      <% if user_signed_in? %>
        <%= link_to "Sign-out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign-in", new_user_session_path %>
      <% end %>
      </h6>
    <h3 id="cosmos-emp" class=""><%= link_to "The Cosmos Emporium 🚀", root_path %></h3>
    <% quantity = 0 %>
      <% @user_basket.each do |_prod, q| %>
        <% quantity += q %>
      <% end %>
    <h6 id="basket-quantity"><%= link_to "Basket [ #{quantity} ]", basket_path %>
    </h6>
  </div>
  <div class="categories">
    <% Category.all.each do |cat| %>
      <div class="tab">
        <h4>
        <% if cat == @category %>
          <%= link_to cat.name, category_path(cat), class: "active" %>
        <% else %>
          <%= link_to cat.name, category_path(cat)%>
        <% end %>
        </h4>
      </div>
    <% end %>
  </div>
</nav>
