<%= render 'shared/navbar' %>
<div class="basket" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url(<%= image_path 'retro_img_2.jpg' %>)">
  <div class="main">
    <div class="basket-details">
      <h3>Basket</h3>
      <% total = 0 %>
      <% @user_basket.each do |prod, q| %>
        <h5><%= prod.name %> (<%= prod.category.name %>) Quantity: <%= q %> Unit price: £<%= prod.price %> Price: £<%= prod.price * q %></h5>
        <% total += prod.price * q %>
      <% end %>
      <h5>Total: £<%= total %></h5>
    </div>
    <div class="checkout-btn">
      <h5><% if user_signed_in? %>
        <%= link_to "Checkout", checkout_path %>
      <% else %>
        <%= link_to "Sign-in", new_user_session_path %>
      <% end %></h5>
    </div>
  </div>
</div>
