<%= render 'shared/navbar' %>
<div class="basket" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url(<%= image_path 'retro_img_2.jpg' %>)">
  <div class="main">
    <div class="basket-details pt-3">
      <h3>Basket</h3>
      <% total = 0 %>
      <div id="basket-headers" class="basket-grid">
        <h5>Product</h5>
        <h5 class="text-center">Quantity</h5>
        <h5 class="pl-4">Unit Price</h5>
        <h5>Price</h5>
      </div>
      <% @user_basket.each do |prod, q| %>
        <div class="basket-grid basket-rows">
          <h5>
          <%= link_to prod.name, category_product_path(prod.category, prod) %> (<%= prod.category.name %>)</h5>
          <% if prod.category.name == "Debris" %>
            <h5 class="text-center quantity">
            <%= link_to order_item_path(OrderItem.find_by(product: prod, order: @order), :quantity => "subtract", :product => prod), method: :patch do %>
              <i class="fas fa-minus-square subtract"></i>
            <% end %>
            &nbsp&nbsp&nbsp
            <span class="q"><%= q %></span>
            &nbsp&nbsp&nbsp
            <%= link_to order_item_path(OrderItem.find_by(product: prod, order: @order), :quantity => "add", :product => prod), method: :patch do %>
              <i class="fas fa-plus-square add"></i>
            <% end %>
            </h5>
          <% else %>
            <h5 class="text-center q"><%= q %></h5>
          <% end %>
          <h5 class="pl-4">£<span class="unit"><%= prod.price %></span></h5>
          <h5>£<span class="price"><%= prod.price * q %></span></h5>
          <%= link_to order_item_path(OrderItem.find_by(product: prod, order: @order), :product => prod), method: :delete do %>
            <i class="fas fa-times-circle"></i>
            <% end %>
          <% total += prod.price * q %>
        </div>
      <% end %>
      <div id="basket-total" class="basket-grid">
        <h5><%= @user.email %></h5>
        <h5></h5>
        <h5 class="text-right">Total:</h5>
        <h5>£<span class="total"><%= total %></span></h5>
      </div>
    </div>
    <div class="checkout-btn">
      <h5><% if user_signed_in? %>
        <%= link_to "Checkout", edit_order_path(@order) if @user_basket.present? %>
      <% else %>
        <%= link_to "Sign-in", new_user_session_path %>
      <% end %></h5>
    </div>
  </div>
</div>
<script src="basket.js"></script>
