<%= render 'shared/navbar' %>
<div class="mybanner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(<%= image_path 'retro_img_4.jpg' %>)">
  <h3>Attention deities, pirates, villains and rulers...</h3>
  <h6>Are you looking to expand your space-empire?</h6>
  <h6>Browse and purchase prime interstellar real estate here, at the click of the button</h6>
</div>
<div class="featured">
  <div class="featureds">
    <h5 class="p-2">Featured Products:</h5>
    <div class="cards">
      <% Product.where(homepage: true).each do |prod| %>
      <div class="homepage-card">
        <%= link_to category_product_path(prod.category, prod) do %>
          <%= image_tag(prod.image) %>
        <% end %>
        <h6 class="pt-2"><%= link_to prod.name, category_product_path(prod.category, prod) %></h6>
      </div>
      <% end %>
    </div>
  </div>
  <div class="featureds">
    <h5 class="p-2">Popular Categories:</h5>
    <div class="pl-3">
      <% SubCategory.where(homepage: true).each do |subcat| %>
      <%#= link_to subcat.name, category_path(subcat.category) %>
        <div class="popular">
          <% unless subcat.products.count.nil? %>
            <%= link_to category_path(subcat.category) do %>
              <%= image_tag(subcat.products.sample.image) %>
            <% end %>
            <div class="popular-text">
              <h5><%= link_to "#{subcat.category.name} / #{subcat.name}", category_path(subcat.category) %></h5>
              <h6>Listings: <%= subcat.products.count %></h6>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
