<%= render 'shared/navbar' %>
<div class="product-show-page">
  <div class="product-left">

  <div class="product-details">
    <h2><%= @product.name %></h2>
    <h6><%= @product.description %></h6>
    <h6 class="border-top border-bottom p-2"><% @product.sub_categories.each do |subcat| %>
      <%= subcat.name %>
      <br>
      <% end %>
    </h6>
    <div class="product-stats">
      <h5>Available: <%= @product.availability %></h5>
      <h5>£<%= @product.price %></h5>
    </div>
    <!-- <button class="mt-2">Add to Basket</button> -->
    <%# if @product.active == true %>
    <% if user_signed_in? %>
    <%= link_to "Add to Basket", orders_path(:product_id => @product), method: :post, id: "add-basket" %>
    <% else %>
    <%= link_to "Sign-in", new_user_session_path, id: "add-basket" %>
    <% end %>
    <%# end %>
  </div>
    <div class="similar-products">
      <!-- <h6>Similar products:</h6> -->
      <div class="similar-cards">
      <% @similar.sample(6).each do |prod| %>
        <div class="similar-card">
        <%= link_to category_product_path(prod.category, prod) do %>
          <%= image_tag(prod.image) %>
        <% end %>
        <h6 class="pt-2 similar-trim"><%= link_to prod.name, category_product_path(prod.category, prod) %></h6>
        </div>
      <% end %>
      </div>

    </div>
  </div>
  <div class="product-image" style="background-image: url(<%= image_path @product.image %>)">
  </div>
</div>
